
.board {
    transition: transform 2s cubic-bezier(.27,.91,.44,1);
}

.board .row {
    display: flex;
    flex-direction: row;
    margin: 0 auto;

    font-size: 2em;
}

.board.black {
    transform: translate3d(0,0,0) rotate(180deg);
    animation: fade-out-in 2s cubic-bezier(.27,.91,.44,1);
}

.board.black .tile {
    transform: translate3d(0,0,0) rotate(-180deg);
}