
.black {
    color: #333;
    text-shadow: 0 0 1px white;
}

.white {
    color: white;
    text-shadow: 0 0 1px black;
}

.tile {
    position: relative;
    width: 1em;
    height: 1em;

    padding: 0.2em;
    line-height: 1em;
    text-align: center;

    background-color: #ddd;
}

.tile:after {
    position: relative;
    z-index: 1;
}

.row:nth-of-type(even) .tile:nth-of-type(odd),
.row:nth-of-type(odd) .tile:nth-of-type(even) {
    background-color: #777;
}

.selected:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    opacity: 0.5;
    background-color: #aa0;
    z-index: 0;
}

.legal:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    opacity: 0.5;
    background-color: #0aa;
    z-index: 0;
}

.king:after {
    content: '♚';
}

.queen:after {
    content: '♛';
}

.bishop:after {
    content: '♝';
}

.rook:after {
    content: '♜';
}

.knight:after {
    content: '♞';
}

.pawn:after {
    content: '♙';
}